* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    background: lightgray;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}
main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.map-chart {
    background-color: grey;
}

.tooltip, #scatter-tooltips{
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background: lightblue;
    border: 1px solid #ccc;
    border-radius: 3px;
    pointer-events: none;
}

